<div class="game-container">
    <div class="title-container">
        <h1>Moordle</h1>
    </div>
    <div class="message-container"></div>
    <div class="tile-container"></div>
    <div class="key-container">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
    </div>
</div>



